<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <ion-button style="margin-top: 6%;width: 50%;" class="boton" size="default" (click)="goToAlmacen()">Ver despensa</ion-button>
    <ion-button style="margin-top: 6%;width: 50%;" class="boton" size="default" (click)="goToProductos()" >Productos</ion-button>
    <ion-button style="margin-top: 6%;width: 50%;" class="boton" size="default" (click)="goToLugares()">Lugares</ion-button>  
  </div>
 
</ion-content>
